.anime-list {
    margin-top: 40px;
  }
  
  .anime-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .anime-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .anime-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .anime-info {
    margin-top: 10px;
    text-align: center;
  }
  
  .anime-info h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #344e41;
  }
  
  .anime-info button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .anime-info button:first-child {
    background-color: #588157;
    color: white;
  }
  
  .anime-info button:last-child {
    background-color: #bc4749;
    color: white;
  }
  