/* Убираем отступы по умолчанию и устанавливаем фон */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Убедимся, что высота страницы на 100% */
    background-color: #f4f4f4; /* Устанавливаем фон для всей страницы */
    font-family: Arial, sans-serif; /* Можно выбрать любой шрифт */
  }
  
  /* Общий стиль для всего приложения */
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечивает, что минимальная высота будет 100% экрана */
  }
  
  .main-content {
    flex: 1; /* Гарантирует, что основная часть контента будет занимать оставшееся пространство */
  }
  