/* Общие стили для футера */
.footer {
    background-color:#a3b18a; 
    color: #344e41;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Стилизуем футер для длинных страниц */
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #fefae0; 
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color:#3a5a40;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .social-links {
      margin-top: 20px;
    }
  }
  