
.genre-filter {
width: 250px; /* Узкий блок справа */
background: #dad7cd; /* Цвет фона, как у фильтров */
padding: 15px;
border-radius: 5px;
border: 1px solid #a3b18a;
}
.genre-filter h3 {
    font-size: 18px;
    color: #344e41; /* Темно-зеленый заголовок */
    margin-bottom: 10px;
}

 .genre-list {
display: flex;
flex-direction: column;
gap: 5px;
}


.genre-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #344e41; /* Тёмно-зелёный */
}

.genre-item input {
    accent-color: #3a5a40; /* Насыщенный зелёный */
}


