.genre-filter {
    width: 250px;
    flex-shrink: 0;
    background-color: #dad7cd; /* Нежный цвет фильтра */
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #a3b18a;
    height: auto;
    position: sticky;
    top: 100px; /* Если хочешь фиксировать жанры при прокрутке */
  }
/* Заголовок */
.genre-filter h3 {
    font-size: 1.2rem;
    color: #344e41;
    margin-bottom: 10px;
    text-align: center; /* Центрируем заголовок */
}

/* Список жанров */
.genre-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Отдельный пункт */
.genre-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #344e41;
    transition: color 0.3s ease;
}

/* Изменение цвета при наведении */
.genre-item:hover {
    color: #3a5a40;
}

/* Стилизация чекбоксов */
.genre-item input {
    accent-color: #3a5a40; /* Зелёный цвет */
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.apply-filter-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #588157;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .apply-filter-button:hover {
    background-color: #3a5a40;
  }