.home-page {
  text-align: center; /* Центрируем текст по горизонтали */
}

.home-page h2 {
  font-size: 2rem; /* Можно настроить размер шрифта */
  margin: 20px 0;  /* Добавляем немного отступов сверху и снизу */
}

body {
  font-family: Arial, sans-serif;
  background-color: #e5fce282;
}

h1, h2 {
  color: #343a40;
}

.details-link {
  display: inline-block;
  margin-top: auto; /* Отталкивает ссылку вниз */
  text-align: center; /* Центрирует текст */
  color: #00590c; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: bold; /* Сделаем ссылку жирной */
}

.details-link:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении */
}
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}